
/* Fonts */
@font-face {
  font-family: 'Calisto-MT';
  src: url(../fonts/Calisto-MT.ttf); }

@font-face {
  font-family: 'Calisto-MT-Italic';
  src: url(../fonts/Calisto-MT-Italic.ttf); }

@font-face {
  font-family: 'Calisto-MT-Bold';
  src: url(../fonts/Calisto-MT-Bold.ttf); }

/* Colors */
/* Universal style */
* {
  margin: 0;
  padding: 0;
  font-family: "Calisto-MT"; }

.site-container {
  width: 1115px;
  margin: 0 auto; }
  @media (max-width: 1250px) {
    .site-container {
      width: 90%; } }

.universal-h2 {
  font-size: 48px;
  text-align: center;
  color: #222;
  font-family: 'Courier New', monospace;}
  @media (max-width: 1250px) {
    .universal-h2 {
      font-size: 38px; } }
  @media (max-width: 668px) {
    .universal-h2 {
      font-size: 30px; } }

.universal-h2-bckg {
  background-image: url("../images/double-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom; }


/*Changing backgrounf colors*/
/* Universal style end */
/* Includes */
.site-navigation {
  position: absolute;
  top: 4.6%;
  width: 100%;
  z-index: 2; }

.site-navigation-inner {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.main-navigation {
  color: #fff;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #2a2e34;
  opacity: 0.8; }
  .main-navigation .main-navigation__ul {
    text-align: center; /*To center align the items of the menu bar*/
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    padding: 3%;

    /*Removing border
    border: 2px solid #fff;
    border-radius: 7px;
    Removing border*/

    background-color: #2a2e34; }


/*To add a line under each menu item except "contact" item*/
    .main-navigation .main-navigation__ul li {
      margin-bottom: 20px;
      list-style: none;
      position: relative; /* Add this line */ }

    .main-navigation .main-navigation__ul li:not(:last-child)::after {
      content: '';
      position: absolute;
      width: calc(100% + 170px); /* Adjust the width as needed */
      height: 0.1px;
      background-color: #fff;
      bottom: -10.3px; /* Adjust the position of the line as needed */
      left: -90px; /* Adjust the left position to center the lines */
      opacity: 0.2;}
/*To add a line under each menu item except "contact" item*/

    .main-navigation .main-navigation__ul a {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      text-transform: capitalize;
      font-family: 'Courier New', monospace;
      transition: 0.3s ease; }
      .main-navigation .main-navigation__ul a:hover {
        color: #fed053; }
  @media (max-width: 1150px) {
    .main-navigation {
      opacity: 0.94; } }

/*To add the "menu" word left side of the lines and
change the color of the "menu" word when hovering over it*/
/* Navigation burger */
/*make each line longer and adjust the distance between the lines and effect of changing the color
from #fff to #8df5fa 
when the cursor is hovered over the menu,
Set the desired color when hovering over menu and bars concurrently and
the "menu" word will be positioned to the left side of the menu icon (three parallel bars)*/
.burger-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}
.menu-word {
  position: absolute;
  top: 120%;
  left: 1095px; /* Adjust this value based on your preference */
  transform: translateY(-50%);
  margin-right: 10px; /* Adjust the spacing between the word and the lines */
  color: #fff; /* Set the color of the word */
  font-size: 17px; /* Set the font size of the word */
  font-weight: bold;
  font-family: 'Courier New', monospace;
  color: #fff;
}

.burger-container:hover .menu-word{
  color: #fed053; 
}

.bars {
  width: 23px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
  transform-origin: center;
}

/* Example of moving all the bars together */
.move-bars .bars {
  transform: translateX(1143px) translateY(12px); /* Adjust the values as needed */
}


/*By adding the :hover pseudo-class selector to the .burger-container class, 
you can specify the color change when the cursor hovers over the menu*/
.burger-container:hover .bar1,
.burger-container:hover .bar2,
.burger-container:hover .bar3 {
  background-color: #fed053;
}

/*make each line longer and adjust the distance between the lines and effect of changing the color
from #fff to #8df5fa 
when the cursor is hovered over the menu,
Set the desired color when hovering over menu and bars concurrently and
the "menu" word will be positioned to the left side of the menu icon (three parallel bars)*/
/* Navigation burger end */

.fh5co-top-banner {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-image: url("../images/top-banner-bckg3.jpg");
  background-position: center bottom; /* Center the background image horizontally and move it to the bottom */
  background-size: cover;
}

.fh5co-top-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e2328;
  opacity: 0.9;
}
  .fh5co-top-banner .site-container {
    position: relative;
    z-index: 1; }
  @media (max-width: 1600px) {
    .fh5co-top-banner {
      padding-top: 180px; } }
  @media (max-width: 1250px) {
    .fh5co-top-banner {
      padding-top: 130px; } }
  @media (max-width: 520px) {
    .fh5co-top-banner {
      padding-top: 105px; } }
  @media (min-width: 1600px) {
    .fh5co-top-banner {
      min-height: 100vh; } }

.top-banner__inner {
  display: flex;
  align-items: center; }
  .top-banner__inner .top-banner__text {
    margin-left: 54px; }
    @media (max-width: 1250px) {
      .top-banner__inner .top-banner__text {
        width: 35%; } }
    @media (max-width: 768px) {
      .top-banner__inner .top-banner__text {
        width: 50%;
        margin-left: 20px; } }
    @media (max-width: 520px) {
      .top-banner__inner .top-banner__text {
        width: 65%;
        margin-bottom: 20px;
        margin-left: 0; } }
    .top-banner__inner .top-banner__text p {
      margin-bottom: 42px;
       font-size: 20px;
      font-family: 'Courier New', monospace; /* Change the font here */
  /* Additional CSS properties for the <p> tag */
      color: #999; }
      @media (max-width: 768px) {
        .top-banner__inner .top-banner__text p {
          margin-bottom: 25px;
          font-size: 10px; } }
  .top-banner__inner .top-banner__h2 {
    font-size: 74px;
    letter-spacing: 3px;
    color: #777;
    font-family: 'Courier New', monospace; } /* Change the font here */

    @media (max-width: 1250px) {
      .top-banner__inner .top-banner__h2 {
        font-size: 50px; } }
    @media (max-width: 768px) {
      .top-banner__inner .top-banner__h2 {
        font-size: 35px; } }
  .top-banner__inner .top-banner__text-up .top-banner__h2 {
    margin-top: 15px; }
    @media (max-width: 768px) {
      .top-banner__inner .top-banner__text-up .top-banner__h2 {
        margin-top: 0; } }
  .top-banner__inner .top-banner__text-down {
    margin-bottom: 20px;
    padding-left: 27%; }
    .top-banner__inner .top-banner__text-down .top-banner__h2 {
      margin-bottom: 10px; }
      @media (max-width: 768px) {
        .top-banner__inner .top-banner__text-down .top-banner__h2 {
          margin-bottom: 0; } }
  .top-banner__inner .top-banner__image {
    font-size: 0; }
    @media (max-width: 1250px) {
      .top-banner__inner .top-banner__image {
        width: 50%; }
        .top-banner__inner .top-banner__image img {
          width: 85%; } }
    @media (max-width: 520px) {
      .top-banner__inner .top-banner__image {
        width: 65%;
        margin-bottom: 20px; } }
  @media (max-width: 520px) {
    .top-banner__inner {
      flex-direction: column; } }
/*logo project start*/
/* CSS for the logo container */


.logo-container  {
    display: flex; 
    align-items: flex-start; /* Align logo to the top */
    justify-content: center; /* Center horizontally */
    /* Adjust the positioning of the logo */
    position: absolute;
    top: -220px; /* Change this value to adjust the vertical position */
    left: -58px; /* Change this value to adjust the horizontal position */
    z-index: 1; /* Make sure the logo appears above other content */
}

.logo {
    max-width: 550px; 
    height: auto;
    /* Adjust other styling properties for the logo */
}

/*logo project end*/

.brand-span {
  font-size: 30px;
  color: #fed053;
  font-family: 'Courier New', monospace;
  letter-spacing: 1px;
}

/*To add a line under the phrase "Piano Player," To display each of the phrases in one line,*/
.brand-span2 {
  white-space: nowrap;
  display: inline-block;
  font-size: 14px;
  color: #fed053;
  font-family: 'Courier New', monospace;
  letter-spacing: 1px;
  margin-left: -100px;
}
/*
.brand-span2:last-child::after {
  content: "";
  display: block;
  width: 500%;
  height: 0.8px;
  background-color: #777;
  margin-top: 4px;
  float: left;
}
/*To add a line under the phrase "Piano Player," To display each of the phrases in one line,*/


/*changing the color of the button when hover over the text of button and its border,
make the text inside the border bold, 
update code with separated curly brackets for border and button text,
To ensure that the color of the button returns to #fff after clicking on it and changing
the position of the button*/
.brand-button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #888;
  border: 1.5px solid #fff;
  transition: 0.3s ease;
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 350px; /* Adjust the top value as per your desired position */
  right: 364px; /* Adjust the right value as per your desired position */
  font-weight: bold;
}

.brand-button:hover {
  color: #fed053;
  border-color: #fed053;
}

.brand-button:focus {
  color: #888;
  border-color: #888;
}

.brand-button::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1px;
  right: -1.5px;
  bottom: -1px;
  border: 1.5px solid #888;
  transition: 0.3s ease;
  pointer-events: none;
}

.brand-button:hover::before {
  border-color: #fed053;
}

.brand-button:focus::before {
  border-color: #888;
}

.brand-button.hovered {
  color: #fed053;
}

.brand-button.hovered::before {
  border-color: #fed053;
}

/*changing the color of the button when hover over the text of button and its border,
make the text inside the border bold, 
update code with separated curly brackets for border and button text,
To ensure that the color of the button returns to #fff after clicking on it and changing
the position of the button*/

.fh5co-about-me {
  position: relative;
  margin: 193px 0 199px; }
  @media (max-width: 1250px) {
    .fh5co-about-me {
      margin: 150px 0; } }
  @media (max-width: 992px) {
    .fh5co-about-me {
      margin: 125px 0; } }


/* adding animation for Elham afshar part beside About me*/   
.animate-portfolio {
  animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* adding animation for Elham afshar part beside About me*/ 


.about-me-bckg {
  position: absolute;
  background-image: url("../images/about-me-bckg.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  top: -75px;
  right: 0;
  height: calc(100% + 150px);
  width: 70%;
  z-index: -1; }
  .about-me-bckg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e2328;
    opacity: 0.7; }
  @media (max-width: 992px) {
    .about-me-bckg {
      width: 100%;
      padding-bottom: 15px; } }

.about-me-inner {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .about-me-inner {
      flex-direction: column;
      align-items: center; } }

.about-me-slider {
  position: relative; }
  .about-me-slider .slick-arrow {
    position: absolute;
    bottom: -18%; }
  .about-me-slider .slick-prev {
    left: 40%; }
    @media (max-width: 520px) {
      .about-me-slider .slick-prev {
        left: 34%; } }
  .about-me-slider .slick-next {
    right: 40%; }
    @media (max-width: 520px) {
      .about-me-slider .slick-next {
        right: 34%; }}

/* Adding fading action for "about me" phrase*/
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(900%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation: slideInUp 2s running;
}

/* Adding fading action for "about me" phrase*/


.span-arrow {
  padding: 10px 15px;
  cursor: pointer;
  color: #fed053;
  border: 1px solid #fed053;
  border-radius: 50%;
  transition: 0.3s ease; }
  .span-arrow:hover {
    color: #fff;
    border-color: #fff; }

.portfolio-wrapper {
  width: 390px;
  padding: 8px;
  text-align: center;
  background-color: #fff; }
  .portfolio-wrapper .portfolio__img {
    font-size: 0; }
    .portfolio-wrapper .portfolio__img img {
      width: 100%; }
  .portfolio-wrapper .portfolio__bottom {
    padding: 35px 0 95px;
    background-color: #f5f5f5; }
    @media (max-width: 992px) {
      .portfolio-wrapper .portfolio__bottom {
        padding: 25px 0; } }
  .portfolio-wrapper .portfolio__name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 23px; }
    @media (max-width: 992px) {
      .portfolio-wrapper .portfolio__name {
        margin-bottom: 10px; } }
    .portfolio-wrapper .portfolio__name span {
      font-size: 80px;
      line-height: 65px;
      color: #fed053;
      font-family: 'Courier New', monospace;  }
      @media (max-width: 992px) {
        .portfolio-wrapper .portfolio__name span {
          font-size: 65px;
          line-height: 62px; } }
  .portfolio-wrapper p {
    padding: 0 10%;
    line-height: 25px;
    font-style: italic;
    color: #444; 
    font-family: 'Courier New', monospace; 
   }
    @media (max-width: 620px) {
      .portfolio-wrapper p {
        font-size: 15px;
        line-height: 20px; } }
  @media (max-width: 992px) {
    .portfolio-wrapper {
      margin-bottom: 20px; } }
  @media (max-width: 620px) {
    .portfolio-wrapper {
      width: 250px; } }


.about-me__text {
  width: 44%;
  margin-right: -50px;
  text-align: center;
  margin-bottom: 0; }
  .about-me__text .universal-h2 {
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 25px; }
  .about-me__text p {
    margin-bottom: 35px;
    line-height: 24px;
    color: #fed053; 
  font-family: 'Courier New', monospace;}
    .about-me__text p span {
      font-size: 48px;
      color: #fff;
      font-family: 'Courier New', monospace;}
    @media (max-width: 620px) {
      .about-me__text p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px; } }
  .about-me__text h4 {
    margin-bottom: 7px;
    font-size: 14px;
    color: #fed053;
    font-family: 'Courier New', monospace; }
  .about-me__text .p-white {
    margin-bottom: 0px;
    margin-top: -10px;
    color: #fff;
    font-family: 'Courier New', monospace; }
  @media (max-width: 1250px) {
    .about-me__text {
      width: 48%;
      margin-right: 40px; } }
  @media (max-width: 992px) {
    .about-me__text {
      width: 100%;
      margin-right: 0; } }

.slick-slide:focus {
  outline: none; }

.fh5co-books {
  margin-bottom: 122px; }
  .fh5co-books .universal-h2 {
    margin-bottom: 50px;
    padding-bottom: 20px; }
  .fh5co-books .books-brand-button {
    text-align: center; }
    .fh5co-books .books-brand-button .brand-button {
      font-size: 16px;
      text-transform: none;
      border-color: #fed053; }
      .fh5co-books .books-brand-button .brand-button:hover {
        border-color: #777; }
  @media (max-width: 1250px) {
    .fh5co-books {
      margin-bottom: 60px; } }

.books {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px; }
  @media (max-width: 559px) {
    .books {
      justify-content: space-around; } }

.single-book {
  margin-bottom: 20px;
  text-align: center; }
  .single-book .single-book__img {
    position: relative;
    display: block;
    font-size: 0; }
    .single-book .single-book__img .single-book_download {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1e2328;
      transition: 0.3s ease; }
      .single-book .single-book__img .single-book_download img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; }
    .single-book .single-book__img:hover .single-book_download {
      visibility: visible;
      opacity: 0.7; }



/* CSS code */
a.single-book__link {
  text-decoration: none; /* Remove the underline */
  color: #777; /* Change the link color to your desired color */
}

a.single-book__link:hover {
  color: #fed053; /* Change the link color on hover, if desired */
}

  .single-book .single-book__title {
    margin: 19px 0 18px;
    font-size: 18px;
    font-family: 'Courier New', monospace;
     }
  .single-book .single-book__price {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #fed053; }
  @media (max-width: 1250px) {
    .single-book {
      margin-right: 10px; }
      .single-book:last-child {
        margin-right: 0; } }

.fh5co-counter {
  position: relative;
  margin-bottom: 122px;
  padding: 100px 0;
  background-image: url("../images/book-bckg.jpg");
  background-size: cover;
  background-position: center; }
  .fh5co-counter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fed053;
    opacity: 0.9; }
  .fh5co-counter .site-container {
    position: relative;
    z-index: 1; }
  @media (max-width: 850px) {
    .fh5co-counter {
      padding: 50px 0 20px;
      margin-bottom: 50px; } }

.counter-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.single-count {
  width: 20%;
  text-align: center;
  color: #777; }
  .single-count span {
    display: block;
    margin-bottom: 15px;
    margin-right: -10px; /*update margin*/
    font-size: 30px;
    font-weight: 900; 
  font-family: 'Courier New', monospace;}
  .single-count p {
    font-size: 15px;
    text-transform: uppercase; 
    font-family: 'Courier New', monospace;
    color: #777; /*update color*/
    font-weight: bold; /*update font*/
  }
/*-----------------------------------counter icons------------------------*/
  .single-count .single-count__text i {
  position: relative;
  transform: translate(-50%, 0%);
  color: white; /* Set the color for the icons */
}

/*-----------------------------------counter icons------------------------*/
  @media (max-width: 850px) {
    .single-count {
      width: 48%;
      margin-bottom: 30px; }
      .single-count .count {
        font-size: 35px;
        margin-bottom: 15px; } }
  @media (max-width: 500px) {
    .single-count {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff; } }

.single-count__text {
  display: flex;
  justify-content: center; }
  .single-count__text img {
    margin-right: 7px; /*update margin*/
    margin-top: -6px;} /*update margin*/

.fh5co-quotes {
  position: relative;
  padding: 135px 0 172px;
  text-align: center;
  background-image: url("../images/quotes-bckg.jpg");
  background-position: center;
  background-size: cover; }
  .fh5co-quotes::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e2328;
    opacity: 0.9; }
  .fh5co-quotes .site-container {
    position: relative;
    z-index: 1; }
  .fh5co-quotes .universal-h2 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: #fff !important; }
  .fh5co-quotes p {
    width: 43%;
    margin: 0 auto 45px;
    color: #fff;
    line-height: 24px;
    font-family: 'Courier New', monospace; }
    @media (max-width: 620px) {
      .fh5co-quotes p {
        font-size: 14px;
        line-height: 19px; } }
  .fh5co-quotes img {
    margin: 0 auto 5px; }
  .fh5co-quotes h4 {
    margin-bottom: 5px;
    font-size: 25px;
    color: #fed053;
    font-family: 'Courier New', monospace; }
  .fh5co-quotes .slick-arrow {
    bottom: -8%; }
  .fh5co-quotes .slick-prev {
    left: 45.5%; }
    @media (max-width: 1150px) {
      .fh5co-quotes .slick-prev {
        left: 34%; } }
  .fh5co-quotes .slick-next {
    right: 45.5%; }
    @media (max-width: 1150px) {
      .fh5co-quotes .slick-next {
        right: 34%; } }
  @media (max-width: 1150px) {
    .fh5co-quotes {
      padding: 75px 0 95px; }
      .fh5co-quotes p {
        width: 90%;
        font-family: 'Courier New', monospace; } }

.fh5co-social {
  position: relative;
  padding: 63px 0;
  background-image: url("../images/social-bckg.jpg");
  background-size: cover;
  background-position: center; }
  .fh5co-social::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fed053;
    opacity: 0.9; }
  .fh5co-social .site-container {
    position: relative;
    z-index: 1; }
  @media (max-width: 620px) {
    .fh5co-social {
      padding: 40px 0; } }

.social {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .social h5 {
    font-size: 24px;
    color: #fff;
    font-family: 'Courier New', monospace; }
  @media (max-width: 620px) {
    .social {
      flex-direction: column; } }
/*-------------------------------------social icons--------------------------*/
.social-icons a {
  position: relative;
  border: 1px solid white;
  border-radius: 50%;
  padding: 13px 23px;
  margin-right: 10px;
  transition: 0.3s ease;
  font-size: 24px; 

}

.social-icons a:hover {
  background-color: #777;
  border-color: transparent;
}

.social-icons i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Set the color for the icons */
}
/*-------------------------------------social icons--------------------------*/

@media (max-width: 620px) {
  .social-icons {
    margin: 35px 0; } }

.site-footer {
  padding-top: 120px;
  background-color: #343434; }
  @media (max-width: 1250px) {
    .site-footer {
      padding-top: 60px; } }

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 95px; }
  .footer-inner h5 {
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff; 
  font-family: 'Courier New', monospace;}
  @media (max-width: 1250px) {
    .footer-inner {
      padding-bottom: 50px;
      flex-direction: column;
      align-items: center; } }

.footer-info {
  width: 50%;
  display: flex; }
  .footer-info .footer-info__left {
    margin-right: 45px; }
    .footer-info .footer-info__left img {
      margin-bottom: 10px; }
    .footer-info .footer-info__left p {
      color: #fed053; 
    font-family: 'Courier New', monospace;}
    @media (max-width: 620px) {
      .footer-info .footer-info__left {
        margin-right: 0;
        margin-bottom: 20px; } }
  .footer-info .footer-info__right p {
    margin-top: -10px;
    margin-bottom: 15px;
    color: #aaa; 
    font-weight: bold;
  font-family: 'Courier New', monospace;}
  .footer-info .footer-info__right .footer-phone {
    font-size: 14px; }
  .footer-info .footer-info__right .social-icons {
    margin-top: 27px; }
    .footer-info .footer-info__right .social-icons a {
      padding: 9px 19px; }
  @media (max-width: 1250px) {
    .footer-info {
      width: 100%;
      margin-bottom: 20px; } }
  @media (max-width: 620px) {
    .footer-info {
      flex-direction: column;
      align-items: center; } }

.footer-contact-form {
  width: 50%; }
  .footer-contact-form .contact-form__input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .footer-contact-form .contact-form__input input {
      width: 40%;
      padding: 20px;
      border: 1px solid #404040;
      background-color: #282828;
      color: #fed053;
      font-family: 'Courier New', monospace; }
      .footer-contact-form .contact-form__input input::placeholder {
        color: #aaa; 
        }
      @media (max-width: 1250px) {
        .footer-contact-form .contact-form__input input {
          width: 45%; } }
      @media (max-width: 520px) {
        .footer-contact-form .contact-form__input input {
          width: 100%; } }
  .footer-contact-form textarea {
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #404040;
    background-color: #282828;
    resize: none;
    color: #fed053; 
  font-family: 'Courier New', monospace;}
  .footer-contact-form textarea::placeholder {

    color: #aaa; 
  }
  .footer-contact-form .submit-button {
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    background-color: #fed053;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Courier New', monospace; }
    .footer-contact-form .submit-button:hover {
      background-color: #777; }
  @media (max-width: 1250px) {
    .footer-contact-form {
      width: 100%; } }

.footer-bottom {
  padding: 25px 0;
  background-color: #2d2d2d; }

.footer-bottom-inner {
  display: flex;
  justify-content: space-between; }
  .footer-bottom-inner p {
    color: #777; }
  .footer-bottom-inner a {
    color: #fed053;
    text-decoration: none;
    transition: 0.3s ease; }
    .footer-bottom-inner a:hover {
      color: #777; }
  .footer-bottom-inner .footer-bottom__img img {
    margin-right: 25px; }
    .footer-bottom-inner .footer-bottom__img img:last-child {
      margin-right: 0; }
  @media (max-width: 992px) {
    .footer-bottom-inner {
      flex-direction: column;
      align-items: center; }
      .footer-bottom-inner p {
        font-size: 14px;
        margin-bottom: 20px; } }
